/* Styles is place for drag-and-drop excel files
-------------------------------------------------- */
.drag-and-drop {
    z-index: 1500;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 450px;
    position: -webkit-sticky;
    border: 4px dotted #58a8fd;
    border-radius: 64px;
    background: #f8f9fa;
}

.drag-and-drop.active {
    background-color: rgba(49, 146, 248, 0.10);
    /* box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);*/
}

.drag-and-drop-title {
    pointer-events: none;
}

.form-contract {
}

.btn-send {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    width: 425px;
    letter-spacing: 0.3px;
    border-radius: 5px;
}